<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
	 <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
	
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	
	<link rel="stylesheet" type="text/css" href="../css/datetime/wui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/datetime/style.css">
	<script type="text/javascript" src="../js/wui-date.js" charset="utf-8"></script>
	
	<!-- 注意这里base.js已经引入, 引入的是带日期控件的base_date.js 不要重复再引入了-->
	<script type="text/javascript" src="../js/base_date.js" charset="utf-8"></script>
	
    <script type="text/javascript" src="../js/service/orderService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/orderController.js">  </script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderController">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">订单报表</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <div class="box-tools pull-left">
                                <div class="has-feedback">
                                  	请选择订单状态：<select ng-model="status">
                                         	<option value="0">全部</option>      
                                         	<option value="1" >未付款</option>    
                                         	<option value="2" >已付款未发货</option>    
                                         	<option value="4" >已发货未收货</option>    
                                         	<option value="5" >交易完成(已收货)</option>                                     
                                        </select>
                                         &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                   请选择开始日期:
									<wui-date 
										format="yyyy-mm-dd" 
										placeholder="格式yyyy-mm-dd" 
										id="date1" 
										btns="{'ok':'确定','now':'此刻'}" 
										ng-model="date1">
									</wui-date>
									     &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                   请选择截止日期:
									<wui-date 
										format="yyyy-mm-dd" 
										placeholder="格式yyyy-mm-dd" 
										id="date2" 
										btns="{'ok':'确定','now':'此刻'}" 
										ng-model="date2">
									</wui-date>
                                </div>
                               
                            </div>
                            
                             <div class="box-tools pull-right">
                             	<a class="btn btn-primary" href='/order/exportXls.do?status={{status}}&date1={{date1}}&date2={{date2}}' >导出报表</a>
                             </div>
							 
                        </div>
                        
                        
                     </div>
</body>
 
	
</html>